extends ../layout

block content
  .page-header
    include partials/header
    h3 Dashboard

  p.lead Edit Form
  form.form-horizontal(action='/registration-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    #fields
      .form-group
        label.col-sm-3.control-label(for='name') Name*
        .col-sm-7
          input.form-control(
            type='text',
            name='name',
            id='name',
            placeholder='Name',
            disabled
          )
      .form-group
        label.col-sm-3.control-label(for='dob') DOB*
        .col-sm-7
          input.form-control(
            type='text',
            name='dob',
            id='dob',
            placeholder='Date Of Birth',
            disabled
          )
      .form-group
        label.col-sm-3.control-label(for='nric') NRIC/FIN*
        .col-sm-7
          input.form-control(
            type='text',
            name='nric',
            id='nric',
            placeholder='NRIC/FIN',
            disabled
          )
      .form-group
        label.col-sm-3.control-label(for='membership') Membership No.*
        .col-sm-7
          input.form-control(
            type='text',
            name='membership',
            id='membership',
            placeholder='Membership No.',
            disabled
          )
      .form-group
        label.col-sm-3.control-label(for='membershipExpiry') Membership/Expiry*
        .col-sm-7
          input.form-control(
            type='text',
            name='membershipExpiry',
            id='membershipExpiry',
            placeholder='Membership/Expiry',
            disabled
          )
      .form-group
        label.col-sm-3.control-label(for='otherId') Other ID*
        .col-sm-7
          input.form-control(
            type='text',
            name='otherId',
            id='otherId',
            placeholder='Other ID',
            disabled
          )
      .form-group
        label.col-sm-3.control-label(for='remarks') Remarks*
        .col-sm-7
          input.form-control(
            type='text',
            name='remarks',
            id='remarks',
            placeholder='Remarks',
            disabled
          )
      each field in fields            
        .form-group
          label.col-sm-3.control-label(for='favoriteColor') #{field.label}
          .col-sm-7
            input.form-control(
              type='text',
              name=field.label
              placeholder=field.label,
              readonly
            )
          .col-sm-1
            button.btn.btn-small.btn-danger(
              type='button',
              onclick=`deleteField("${field.id}")`
            )
              .fa.fa-trash
      .form-group#fieldTemplate(hidden="true")
        label.col-sm-3.control-label(for='otherField') Label*
        .col-sm-7
          input.form-control(
            type='text',
            placeholder='Label Name',
            name='template'
          )
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-default(type='button', onclick='addField()') Add a new text field
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-primary(
          type='submit',
          style={'margin-right': '10px'},
        ) Done Editing
        a.btn.btn-default(href='/dashboard/edit') Cancel


    script.
      function addField() {
        const template = document.getElementById('fieldTemplate');
        const clone = template.cloneNode(true);
        clone.hidden = false;
        clone.removeAttribute('id');
        clone.getElementsByTagName('input')[0].setAttribute('name','fields[]');
        document.getElementById('fields').appendChild(clone);
      }
      
      function deleteField(fieldId) {
        const r = confirm("This will delete all values stored in this field. Would you still like to proceed?");
        if (r === true) {
          const deleteForm = document.createElement('form');
          deleteForm.action= `/registration-form/${fieldId}/?_method=DELETE`;
          deleteForm.method="POST";

          const csrf = document.getElementsByName('_csrf')[0];
          const id = document.createElement('input');
          id.setAttribute('name','id');
          id.setAttribute('type', 'hidden');
          id.setAttribute('value', fieldId);

          deleteForm.appendChild(csrf);
          deleteForm.appendChild(id);

          document.body.appendChild(deleteForm);
          deleteForm.submit();
        }
      }
    
