extends ../layout

block content
  .page-header
    include partials/header
    h3 Dashboard

  p.lead Approved Non-Members
  table.table.table-striped.table-hover.table-bordered(id="non-members-table")
    thead
      th.text-center.col-sm-3 Name
      th.text-center.col-sm-1 DOB
      th.text-center.col-sm-2 NRIC/FIN
      th.text-center.col-sm-2 Membership No.
      th.text-center.col-sm-2 Membership/Expiry
      th.text-center.col-sm-1 Other ID
      th.text-center.col-sm-1 Remarks

  p.lead Add a new Approved Non-Members
  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='name') Name*
      .col-sm-7
        input.form-control(
          type='text',
          name='name',
          id='name',
          placeholder='Name',
          autofocus,
          required
        )
    .form-group
      label.col-sm-3.control-label(for='dob') DOB*
      .col-sm-7.datepicker
        input.form-control(
          type='text',
          name='dob',
          id='dob',
          placeholder='Date Of Birth',
          autofocus,
          required
        )
    .form-group
      label.col-sm-3.control-label(for='nric') NRIC/FIN*
      .col-sm-7
        input.form-control(
          type='text',
          name='nric',
          id='nric',
          placeholder='NRIC/FIN',
          autofocus,
          required
        )
    .form-group
      label.col-sm-3.control-label(for='membership') Membership No.*
      .col-sm-7
        input.form-control(
          type='text',
          name='membership',
          id='membership',
          placeholder='Membership No.',
          autofocus,
          required
        )
    .form-group
      label.col-sm-3.control-label(for='membershipExpiry') Membership/Expiry*
      .col-sm-7.datepicker
        input.form-control(
          type='text',
          name='membershipExpiry',
          id='membershipExpiry',
          placeholder='Membership/Expiry',
          autofocus,
          required
        )
    .form-group
      label.col-sm-3.control-label(for='otherId') Other ID*
      .col-sm-7
        input.form-control(
          type='text',
          name='otherId',
          id='otherId',
          placeholder='Other ID',
          autofocus,
          required
        )
    .form-group
      label.col-sm-3.control-label(for='remarks') Remarks*
      .col-sm-7
        input.form-control(
          type='text',
          name='remarks',
          id='remarks',
          placeholder='Remarks',
          autofocus,
          required
        )
    .form-group
      .col-sm-offset-3.col-sm-7
        button.col-sm-3.btn.btn-primary(type='submit') Submit

  link(rel='stylesheet', href='//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css')
  script(src='//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js')
  script.
    $(document).ready(function () {
      $('#non-members-table').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "non-members/datatable",
        "columns": [
          {"data": "name"},
          {"data": "dob", "searchable": "false"},
          {"data": "nric"},
          {"data": "membershipId"},
          {"data": "membershipExpiry", "searchable": "false"},
          {"data": "otherId"},
          {"data": "remarks"}
        ],
        "order": [ "0", "asc" ]
      });
    });
