extends ../layout

block content
  .page-header
    h3 Real-time Logs Monitor

  .object-list
    .media
      .media-left
        a(href="#")
          img.media-object(
            src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y",
            alt="avatar"
            style={height: '64px', width: '64px'}
          )
      |   
      .media-body
        h4.media-heading Ray
        .row
          .col-sm-6
            ul.list-unstyled
              li DOB: 24/12/1994 (23 years old)
              li NRIC/Green Card: S007
              li Membership No. 7100238
              li Member Expiry: 10/10/2017 (in 100 days)
              li Login Attempt: 10/09/2017 7:30pm
          .col-sm-6

    .media
      .media-left
        a(href="#")
          img.media-object(
            src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y",
            alt="avatar"
            style={height: '64px', width: '64px'}
          )
      |   
      .media-body
        h4.media-heading Kuriakin Zeng
        .row
          .col-sm-6
            ul.list-unstyled
              li DOB: 24/12/2000 (17 years old)
              li NRIC/Green Card: S007
              li Membership No. 7100238
              li Member Expiry: 10/10/2017 (in 100 days)
              li Login Attempt: 10/09/2017 7:30pm
          .col-sm-6
            .alert.alert-danger Member is below age 21

    .media
      .media-left
        a(href="#")
          img.media-object(
            src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y",
            alt="avatar"
            style={height: '64px', width: '64px'}
          )
      |   
      .media-body
        h4.media-heading Stella Tan
        .row
          .col-sm-6
            ul.list-unstyled
              li DOB: 24/12/1997 (20 years old)
              li NRIC/Green Card: S007
              li Membership No. 7100238
              li Member Expiry: 10/10/2017 (in 100 days)
              li Login Attempt: 10/09/2017 7:30pm
          .col-sm-6
            .alert.alert-warning Membership is expiring

    .media
      .media-left
        a(href="#")
          img.media-object(
            src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y",
            alt="avatar"
            style={height: '64px', width: '64px'}
          )
      |   
      .media-body
        h4.media-heading Loon
        .row
          .col-sm-6
            ul.list-unstyled
              li DOB: 24/12/1994 (23 years old)
              li NRIC/Green Card: S007
              li Membership No. 7100238
              li Member Expiry: 10/10/2017 (in 100 days)
              li Login Attempt: 10/09/2017 7:30pm
          .col-sm-6
            .alert.alert-danger Membership is invalid

    .media
      .media-left
        a(href="#")
          img.media-object(
            src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y",
            alt="avatar"
            style={height: '64px', width: '64px'}
          )
      |   
      .media-body
        h4.media-heading John
        .row
          .col-sm-6
            ul.list-unstyled
              li DOB: 24/12/1994 (23 years old)
              li NRIC/Green Card: S007
              li Membership No. 7100238
              li Member Expiry: 10/10/2017 (in 100 days)
              li Login Attempt: 10/09/2017 7:30pm
          .col-sm-6
