ul.nav.nav-pills.pull-right(role="tablist")
  li(class=(name === 'dashboard.visitor-logs') ? 'active' : undefined, role="presentation")
    a(href=url('dashboard.visitor-logs')) Guest Logs
  li(class=(name === 'dashboard.realtime-logs') ? 'active' : undefined, role="presentation")
    a(href=url('dashboard.realtime-logs')) Logs Monitor
  li(class=(name === 'dashboard.non-members') ? 'active' : undefined, role="presentation")
    a(href=url('dashboard.non-members')) Manage Non-Members
  li(class=(name === 'dashboard.registration-form') ? 'active' : undefined, role="presentation")
    a(href=url('dashboard.registration-form')) Edit Registration Form
  li(class=(name === 'dashboard.users') ? 'active' : undefined, role="presentation")
    a(href=url('dashboard.users')) Manage Users
